body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    background-color:#F0DFC2;
    color: white;
    margin-top: 2px;
    margin-bottom: 160px;
}
.cart-icon {
    font-size: 24px;
    cursor: pointer;
    padding-right: 5px;
}
.product-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.products {
    display: flex;
    overflow: hidden;
    width: 80%;
    gap: 10px;
}
.product-card {
    background: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    flex: 1;
    text-transform:uppercase;
    size: 10px;
}
.product-card img {
    max-width: 100%;
    height: auto;
}
.add-to-cart {
    margin-top: 10px;
    padding: 8px 12px;
    background: #93A490;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    font-weight: bolder;
    text-transform: uppercase;
}
.popup {
    display: none;
    position: fixed;
    top: 50px;
    left: 150px;
    width: 77.5%;
    height: 0%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.popup-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    color: white;
    
    
}
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}
.logo-container {
    text-align: center;
    margin: 0;
    padding: 20px; /* Ajuste conforme necessário */
    background-color: #93A490;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Garante que o container ocupa toda a largura disponível */
    height: 100px; /* Ajuste a altura conforme necessário */
}

.logo-container img {
    max-width: 100%; /* Garante que a imagem acompanha o tamanho do container */
    max-height: 100px; /* Ajusta a altura da imagem para se adaptar ao container */
    height: auto;
    width: auto;
}

/* carrinho

